.message-container {
    background-color: var(--background);
    padding: 30px;
}

.message-container h1 {
    font-size: 1em;
    color: black;
}

p {
    font-size: .75em;
    color: rgb(156, 156, 156);
}