.sign-container {
    background-color: rgb(243, 243, 243);
    color: black;
    display: flex;
    flex-direction: column;   
}

/* Header */

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 1em;    
}

.header-container * {
    padding: .5em;
}

.header-container button {
    background-color: rgb(0, 0, 0);
    border-radius: .5em;
    margin: .5em;
}

.header-container button:hover {
    background-color: rgb(213, 213, 213);
}

/* Form */

.form-container form {
    padding: 2em;
    border-radius: .5em;
    border-width: .1em;
    border-color: rgb(214, 214, 214);
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    text-align: left;    
}

.form-container form input {
    border-color: rgb(200, 200, 200);
    margin: .5em;
}

.form-container form label {
    background-color: rgb(196, 196, 196);
    width: fit-content;
    border-radius: .25em;
    margin: .5m;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;       
}

input {
    border-color: rgb(243, 243, 243);
    border-width: .1em;
    border-radius: .5em;
    padding: .5em;
    color: rgb(173, 173, 173);
}



.sign-button-container button {
    background-color: rgb(219, 219, 219);
    border-radius: .5em;
    border-color: rgb(64, 64, 64);
    border-width: .1em;
    padding: .5em;
    padding-left: 9em;
    padding-right: 9em;
    margin: 1em;
    text-align: center;

}

.sign-button-container button:hover {
    background-color: black;
    color: white;
}