.transaction-container {
    display: flex;
    flex-direction: row;
    margin: 2em;
    background-color: white;
    border-radius: .5em;
    border-width: .1em;
    border-color: rgb(208, 208, 208);;
    justify-content: space-between;
}


@keyframes transaction-animation {
    0% {
      transform: translateZ(0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      transform: translateZ(50px);
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }

  
.transaction-container:hover{
    animation: transaction-animation 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.transaction-container > * {
    padding: .5em;

}

.information-container {
   text-align: left;
   
}

.information-container > * {
    margin: .75em;
}

.information-container h1 {
    font-weight: 700;
    font-size: 1rem;
}

.transaction-information-container h2 {
    color: rgb(156, 156, 156);
}

.image-and-info-container {
    display: flex;
    flex-direction: row;
}

.image-and-info-container > * {
    margin: 1em;
}